*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: sans-serif;
}
.movie-container{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 7px;
    padding: 4em 0;
}
.movie_img{
    width: 100%;
    object-fit: cover;
    height: 80%;
    margin-bottom: 10px;
    border-radius: 4px 4px 0 0;
}
.movie_title{
    color: #fff;
    font-size: 9px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}
.movie_hd{
    color: rgb(167, 167, 167);
    text-align: center;
    display: block;
    font-size: 10px;
}